// common
$color-tip: #a5a5a5
$icon-size: 18px
$icon-size-large: 26px
$radius: 6px
$card-shadow: 1px 1px 7px 0px rgba(0, 0, 0, 0.2)
$hover-bg-color: #1890ff

    
    
// light
$color-light: #f5f5f5
$bg-light: #FFF
$border-color: #e8e8e8


// dark
$color-dark: #2c3e50
$bg-dark: #282c34





